body {
  background-color: black;
  color: orange;
  text-align: center;
}
h1{
  text-align: center;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 200px;
  font-size: 70px;
}
p {
  color: white;
}
footer {
  text-align: center;
  color: white;
}
.passion {
color: rgb(216, 130, 44);
}
a {
  display: inline-block;
  color: orange;
}
a:hover {
  color: saddlebrown;
}
span {
  column-rule: lightyellow;
}
#image-6 {
  display: block;
  width: 20%;
  height: 20%;
  text-align: center;
}
.blank {
  border: black;
  width: 70px;
}
p.pastries {
  margin: auto;
  margin-top: 200px;
  margin-left: 10px;
  padding: 10px;
  width: 200px;
  display: inline;
}
h4 {
  color: orange;
}
  
